* {
  margin: 0;
}
a {
  text-decoration: none !important;
}
ul {
  list-style: none !important;
}

body {
  font-family: Arial, sans-serif;
}
/* Navbar */

nav {
  padding: 10px 20px;
  background-color: #333;
  margin-bottom: 10px;
text-align: center;


}
nav a {
  font-weight: bold;
  color: #ffffff;
  font-size: large;
}

nav img {
  height: 40px;
  width: 120px;
}

nav button {
  font-weight: bolder;
  outline: 0;
  border-radius: 3px;
  padding: 5px 10px;
  background: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
}

nav button:hover {
  background: #ffffff;
}

nav button:hover a {
  color: #333;
}

nav .navigation1 li {
 
  font-family: 'Croissant One', cursive;

}


/* Footer */
footer {
  text-align: center;
  background-color: #333;
  color: #838788;
  padding: 10px;
  margin-top: 10px;

}
footer a {
  color: #ddd !important;
  text-decoration: underline !important;
}
/* Animation */
@keyframes colourchange {

  0%,
  50% {
      color: #ECE6DB;

  }

  25%,
  100% {
      color: #ccc;

  }
}

/* Screen min-width: 880px */

@media only screen and (min-width: 880px) {
  nav {
    display: flex;
    justify-content: space-between;
  }

  nav li {
    display: inline;
    margin-left: 10px;
  }
  nav .navigation1 li {
   margin-left: 35px;
   font-family: 'Croissant One', cursive;
 
 }
 nav .navigation1 a:hover {
  animation: colourchange 1s infinite;
}

nav .navigation2 {
  float: right;
}
}

/* Screen max-width: 880px */

@media only screen and (max-width: 880px) {
  nav {
    padding: 20px ;

  }
  nav li{
    margin-top: 10px;
  }

}