* {
  margin: 0;
}
a {
  text-decoration: none !important;
}
ul {
  list-style: none !important;
}

body {
  font-family: Arial, sans-serif;
}
p{
  font-family: 'EB Garamond', serif;
}
h3,h1{
  font-family: 'Archivo Black', sans-serif;
}
h1{
  text-align: left;
  margin:20px  10px 30px 20px;
}
button {
  font-weight: bolder;
  outline: 0;
  border-radius: 3px;
  padding: 7px 12px;
  background: transparent !important;
  cursor: pointer;
  font-size: large;
  font-family: 'Josefin Sans', sans-serif;
}
/* Navbar */

nav {
  padding: 10px 20px;
  background-color: #333;
text-align: center;
}

nav a {
  font-weight: bold;
  color: #ffffff;
  font-size: large;
}

nav img {
  height: 40px;
  width: 120px;
}

nav button  {

  
  border: 1px solid #ffffff;
  color: #ffffff ;
  
}

nav button:hover {
  color: #333;
  background: #ffffff !important;
}


nav .navigation1,
nav .navigation2 
{
  padding: 10px;

}

nav .navigation1 li {
 
  font-family: 'Croissant One', cursive;

}
/* Category */
#category {
  display: flex;
  justify-content: center;
  align-items: center;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  
  border-radius: 28px;
  height: 350px;
  position: relative;
  margin: 10px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 20px 5px #A8A196;
}

.card:hover .cardData {
  top: 0;
  border-radius: 0 0 90px 90px;

}

.card:hover button {
  display: initial;
}

.cardData {
  position: absolute;
  bottom: 0;
  background-color: #B4B4B3;
  height: 180px;
  border-radius: 90px 90px 0 0;
  padding: 20px 30px;
  text-align: center;
}

.cards h3 {
  margin-bottom: 10px;
  color: #393E46;
}

.cards button {
  display: none;
  margin-top: 20px;
  border: 1px solid #393E46;
}

.cards p {
  color: #F1EFEF;
  text-align: left;
}

.cards button a {
  color: #393E46;

}

.cards button:hover {
  background-color: #393E46 !important;
}

.cards button:hover a {
  color: #F1EFEF;
} 

/* SlideShow */

.slideshow-container {
  position: relative;
  width: 100%;
}

.slideshow-container .slide {
  display: none;
}

.slideshow-container img {
  max-width: 100%;

}


.slideshow-container .prev,
.slideshow-container .next {
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.3s;
  cursor: pointer;
}

.slideshow-container .prev {
  left: 30px;
}

.slideshow-container .next {
  right: 30px;
}

.slideshow-container .prev:hover,
.slideshow-container .next:hover {
  background-color: white;
  color: black;

}

.slideshow-container .dotBox {
  position: absolute;
  bottom: 5%;
  right: 46vw;
}

.slideshow-container .dot {
  height: 5px;
  width: 20px;
  margin: 0 2px;
  background-color: #B4B4B3;
  border-radius: 10%;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.slideshow-container .active {
  background-color: #717171;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  /* background-color: #fefefe; */
  background-color: #cee6f3;
  align-items: center;
  margin: auto;
  padding: 20px;
  border: 2px solid #888;
  border-radius: 10px;
  width: 80%;
}

.close {
  position: absolute;
  top: 10%;
  right: 2%;
  color: #aaaaaa;
  float: right;
  font-size: 38px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Footer */
footer {
  text-align: center;
  background-color: #333;
  color: #838788;
  padding: 10px;
  margin-top: 10px;

}
footer a {
  color: #ddd !important;
  text-decoration: underline !important;
}
/* Animation */
@keyframes colourchange {

  0%,
  50% {
      color: #ECE6DB;

  }

  25%,
  100% {
      color: #ccc;

  }
}

/* Screen min-width: 880px */

@media only screen and (min-width: 880px) {
  nav {
    display: flex;
    justify-content: space-between;
  }

  nav li {
    display: inline;
    margin-left: 10px;
  }
  nav .navigation1 li {
   margin-left: 35px;
   font-family: 'Croissant One', cursive;
 
 }
 nav .navigation1 a:hover {
  animation: colourchange 1s infinite;
}

nav .navigation2 {
  float: right;
}

#category .card {
  
  width: 280px;

        flex: 0 1 28% ; 
    }
}

/* Screen max-width: 880px */

@media only screen and (max-width: 880px) {
  nav {
    padding: 20px ;

  }
  nav li{
    margin-top: 10px;
  }
  #category .card {
  width: 280px;
  flex: 0 1 40% ; 
      }

}
/* Screen max-width: 480px */

@media only screen and (max-width: 480px) {
  nav {
    padding: 20px ;

  }
  nav li{
    margin-top: 10px;
  }
  #category .card {
  width: 280px;
  flex: 0 1 70% ; 
      }

}


/* Form */

.loginSignup form {
  background-color: #eeeded;
  border: 1px solid #ccc;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40%;
}

.loginSignup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.loginSignup input {
  font-weight: bolder;
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(60, 58, 55);
}

.loginSignup input:focus {
  outline: none;
}

.loginSignup button[type="submit"] {
  margin-right: 15px;
}

.loginSignup button {
  font-size: 20px;
  font-weight: bolder;
  outline: 0;
  border-radius: 7mm;
  min-width: 35%;
  background: #56a6dc !important;
  border: 0;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
}

.loginSignup .bottomContainer {
  text-align: center;
}

.loginSignup .bottomContainer p a {
  font-weight: bolder;
  text-decoration: none !important;
  color: black !important;
}

.loginSignup .bottomContainer p a:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.loginSignup .bottomContainer p {
  margin: 5px !important;
  font-family: cursive;
}

.loginSignup .messagecontainer {
  margin-top: 10%;
  background-color: #eeeded;
  border: 1px solid #ccc;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
}


.loginSignup h2 {
  margin-bottom: 10px;
  text-align: center;
  color: #333;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 800;
}

.loginSignup .container {
  display: flex;
  justify-content: center;
}