* {
  margin: 0;
}
a {
  text-decoration: none !important;
}
ul {
  list-style: none !important;
}

body {
  font-family: Arial, sans-serif;
}
/* Navbar */
nav {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav li {
  display: inline;
  margin-left: 10px;

}

nav a {
  font-weight: bold;
  color: #ffffff;
  font-size: large;
}

nav img {
  height: 40px;
  width: 120px;
}

nav button {
  font-weight: bolder;
  outline: 0;
  border-radius: 3px;
  padding: 5px 10px;
  background: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
}

nav button:hover {
  background: #ffffff;
}

nav button:hover a {
  color: #333;
}

nav .navigation1 li {
  margin-left: 35px;
  font-family: 'Croissant One', cursive;

}

nav .navigation1 a:hover {
  animation: colourchange 1s infinite;
}


nav .navigation2 {
  float: right;
}




main {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

#categories,
#posts {
  flex-basis: 45%;
  padding: 10px;
  border: 1px solid #ccc;
}

footer {
  text-align: center;
  background-color: #333;
  color: #838788;
  padding: 10px;
}
footer a {
  color: #ddd !important;
  text-decoration: underline !important;
}
/* Animation */
@keyframes colourchange {

  0%,
  50% {
      color: #ECE6DB;

  }

  25%,
  100% {
      color: #ccc;

  }
}